build/
dist/
.pytest_cache/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
.mypy_cache
*.so
*~
.exportToPDF/
export.bat

MANIFEST
.sdist
.tox

# reserved for virtual environment
env

# reserved for generated test files
tests/tmp

.cache
.coverage
.pypirc
htmlcov/
.mine/

# PyCharm
.idea/
.exportToHTML

# Sphinx
doc/_build/*
_build/*
