build/
dist/
.pytest_cache/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
.mypy_cache
*.so
*~
.exportToPDF/
export.bat

MANIFEST
.sdist
.tox
.cache
.coverage
.pypirc
htmlcov/
.mine/

# PyCharm
.idea/
.exportToHTML

# Sphinx
doc/_build/*
