build/
dist/
.pytest_cache/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
.pytest_cache/
.mypy_cache
*.so
*~
.exportToPDF/
export.bat

MANIFEST
.sdist
.tox
.cache
.coverage
.pypirc
htmlcov/

# PyCharm
.idea/
.exportToHTML

#
*.html
tests/*.html
