name: Code Coverage, Inspections, Docs

# Note: Only inspect and docs jobs install phmdoctest and only to Python 3.x.
#       None of the jobs run tests on the installed module.
#       Tests import phmdoctest from the checked out root/src folder
#       via $PYTHONPATH.
on:
  workflow_dispatch:
  #push:
  #pull_request:

jobs:
  tests:
  
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, pypy3]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage
        pip install "pytest>=5"
        # if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        # todo- replace 3 lines below with root/requirements.txt
        pip install "Click>=7.1.1,<8"
        pip install "commonmark>=0.9.1,<1"
        pip install "monotable>=2.1.1,<4"
        pip freeze
    - name: Tests, coverage report
      run: |
        coverage run --branch --source=src -m pytest --strict -vv tests
        coverage run --append -m phmdoctest --help
        coverage report --show-missing
      env:
        PYTHONPATH: ${{ github.workspace }}/src

  inspect:
    # needs: tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        # This should be the same as in .readthedocs.yml  
        python-version: 3.7
    - name: Install Tox
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Tox inspect
      run: tox -e inspect

  docs:
    # needs: inspect
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        # This should be the same as in .readthedocs.yml  
        python-version: 3.7
    - name: Install Tox
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Tox docs
      run: tox -e docs
          
    - name: Upload docs
      uses: actions/upload-artifact@v2
      with:
        name: docs
        # in tox.ini this is {envtmpdir}/html
        path: .tox/docs/tmp/html
        retention-days: 5
